.form-container-width{
  width: 50%
}
@media screen and (max-width: 800px) {
  .form-container-width{
    width: 90%
  }
}

.ratio-select{
  margin-left: 20px; 
  width: '70%'; 
  padding: 5px; 
  border: 1px solid black; 
  border-radius: 10px; 
}

.gender-breakdown-button{
  background-color: transparent;
  padding: 5px;
  margin-left: 20px;
  border-radius: 20px;
  margin-bottom: 20px;
  max-width: 150px;
}